html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Color */
  --navbar-background-color: rgb(245, 245, 245);

  /* Size */
  --nav-width: 360px;
  --content-box-padding: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  display: flex;
  flex-direction: column;
  background-color: var(--navbar-background-color);
  height: 100%;
}

.navbar header {
  padding: var(--content-box-padding);
}

.nav-link {
  padding: var(--content-box-padding);
  color: black;
  text-decoration: unset;
}

.navbar .nav-link:first-of-type {
  border-top: 1px solid;
}

.navbar .nav-link {
  border-bottom: 1px solid;
}

.main {
  padding-top: var(--content-box-padding);
  margin-left: calc(var(--nav-width) + var(--content-box-padding));
}

.main-section {
  /* placeholder */
  margin: 0;
}

code {
  display: block;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  :root {
    --nav-width: 100%;
  }

  .navbar {
    position: static;
    margin-bottom: 25px;
    height: initial;
  }

  .main {
    margin-left: initial;
  }
}
